{% extends "header.html" %}
{% block content %}
    <section>
        <h2 class="margin_bot"> Edit Item</h2>
        <form action="{{ url_for('edit_item', item_name=item.name, category_name=item.category_name)}}" method='post'>
            <label for="title">Title</label><br>
            <input type="text" id="title" name="title" class="margin_bot" value="{{ item.name }}" required><br>
            <label for="description">Description</label><br>
            <input type="text" id="description" name="description" class="margin_bot" value="{{ item.description }}" required><br>
            <label for="category">Category</label><br>
            <select class="margin_bot" name="category" value="category.name">
                {% for i in categories %}
                    <option value="{{ i.name }}">{{ i.name }}</option>
                {% endfor %}
            </select><br>
            <input type="submit" value='Submit' class="margin_top">
        </form>
    </section>
{% endblock %}